<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="IkeaDocumentScanningEntities" connectionString="metadata=res://*/DocumentScanning.BusinessObjects.IkeaDocuScanEntityDataModel.csdl|res://*/DocumentScanning.BusinessObjects.IkeaDocuScanEntityDataModel.ssdl|res://*/DocumentScanning.BusinessObjects.IkeaDocuScanEntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=IkeaDocumentScanningCH;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!-- Directory where OCR-ed new documents arrive. -->
    <!-- t2b ag <add key="CheckinDirectory" value="C:\checkin" />-->
    <add key="CheckinDirectory" value="C:\checkin" />

    <!-- Smtp server. -->
    <add key="SmtpServer" value="smtp-gw.ikea.com" />
    <!-- Default reply-to address where sender cannot be determined. -->
    <add key="DefaultMailAddress" value="t199@ingka.ikea.com" />
    <!-- Link template for mail with links to documents -->
    <add key="DocumentLinkTemplate" value="&lt;a href=&quot;http://localhost:8080/web/StreamDocument.aspx?barcode={0}&quot; target=&quot;_blank&quot;>{0}&lt;/a>&lt;br/>" />
    <!-- t2b ag August 24 2020 - Default email address for the action reminder. -->
    <add key="ActionReminder.DistributionList" value="ikea5.sfsf@ikea.com" />

    <!-- AD specific settings -->
    <!-- Domain of all users. -->
    <add key="DomainName" value="ikea.com" />
    <!-- LDAP root path for retrieving the e-mail address of the logged in user. -->
    <add key="UserEmail.LDAPRoot" value="LDAP://DC=ikea,DC=com" />
    <!-- LDAP filter for retrieving the e-mail address of the logged in user. -->
    <add key="UserEmail.LDAPFilter" value="(sAMAccountName={0})" />
    <!-- LDAP root path for email reminder groups. -->
    <add key="EmailGroups.LDAPRoot" value="LDAP://OU=Ikea,OU=Collab,DC=ikea,DC=com" />
    <!-- LDAP filter for email reminder groups. -->
    <add key="EmailGroups.LDAPFilter" value="(name=*Reminder*)" />
    <!-- LDAP filter for user groups-->
    <add key="ReaderGroups.LDAPRoot" />
    <!-- add key ="ReaderGroups.LDAPFilter"/ -->

    <!-- USERS and GROUPS; all names without domain -->
    <!-- Name of security group with read access for all documents. -->
    <add key="ADGroup.Builtin.Reader" value="IKEA\UG-DocScanningReaders-CG@WAL-FIN-CH-GEL" />
    <!-- Name of security group with write access for checkin, search and edit properties. -->
    <add key="ADGroup.Builtin.Publisher" value="IKEA\UG-DocScanningPublishers-CG@WAL-FIN-CH-GEL" />
    <!-- Name of security group with write access for checkin, search and edit properties. -->
    <add key="ADGroup.Builtin.SuperUser" value="IKEA\UG-DocScanningSuperUsers-CG@WAL-FIN-CH-GEL" />

    <!-- ERROR HANDLING -->
    <!-- For application errors: should the plain exception be displayed? Set to "False"
		     in live configuration. -->
    <add key="ErrorHandler.DisplayException" value="True" />
    <!-- Administrator who should receive mails on application errors. Delete this
		     key-value pair, if no mail should be sent. -->
    <!--<add key="ErrorHandler.MailRecipient" value="Iikeasuperuser@VIRTUALCORP.ch"/>-->

    <!-- various settings -->
    <!-- The size of the type list dropdown if large and if small-->
    <add key="TypeListSmallSize" value="152" />
    <add key="TypeListLargeSize" value="500" />
    <add key="EventLog.Source" value="Ikea Document Scanning Webapp" />
    <add key="EventLog.Logname" value="Application" />

    <!-- T2B AG, A.Willimann, August 2020 - control problematic areas -->
    <add key="T2B.EnableSmtp" value="True" />
    <add key="T2B.EnablePerfCounters" value="True" />
    <add key="T2B.EnableLog" value="True" />
    <add key="T2B.EnableWIA" value="True" />
    <add key="T2B.DefaultUser" value="ikea\mareg20" />

  </appSettings>

  <!-- the authorizations are setup using inetmgr (IIS manager console) -->

  <system.web>
    <!-- Request timeout 5 minutes -->
    <httpRuntime executionTimeout="300" />
    <trust level="Full" />
    <!-- as per KB Article http://support.microsoft.com/?kbid=823265 -->
    <!-- begin fragment -->
    <httpModules>
      <!-- add name="Session" type="System.Web.SessionState.SessionStateModule" / -->
      <!-- this is needed, so location based authorization is not ignored!-->
      <!-- add name="UrlAuthorization" type="System.Web.Security.UrlAuthorizationModule" / -->
    </httpModules>
    <pages enableSessionState="true" enableViewState="true" enableViewStateMac="true" validateRequest="false" />
    <!-- end fragment -->
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
    <compilation defaultLanguage="c#" />
    <!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
           on the local Web server. This setting is recommended for security purposes, so 
           that you do not display application detail information to remote clients.
    -->
    <customErrors mode="Off" />
    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"

          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
    <authentication mode="Windows" />
    <!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
    
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" pageOutput="true" requestLimit="100" traceMode="SortByTime" localOnly="false" />
    <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20" />
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>


  <!--  original visual studio template
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
-->
</configuration>
<!--ProjectGuid: 4A1E31F6-8184-46CD-878A-0C3B3CE1E2D9-->