################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/IkeaDocuScanV3/.vs
/IkeaDocuScanV3/IkeaDocuScan-Web/IkeaDocuScan-Web/bin/Debug/net9.0
/IkeaDocuScanV3/IkeaDocuScan-Web/IkeaDocuScan-Web/obj
/IkeaDocuScanV3/IkeaDocuScan-Web/IkeaDocuScan-Web.Client/bin/Debug/net9.0
/IkeaDocuScanV3/IkeaDocuScan-Web/IkeaDocuScan-Web.Client/obj
/IkeaDocuScanV3/IkeaDocuScanV3.AppHost/bin/Debug/net9.0
/IkeaDocuScanV3/IkeaDocuScanV3.AppHost/obj
/IkeaDocuScanV3/IkeaDocuScanV3.ServiceDefaults/bin/Debug/net9.0
/IkeaDocuScanV3/IkeaDocuScanV3.ServiceDefaults/obj
