################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IkeaDocuScanV3/.vs
/IkeaDocuScanV3/ConfigEncryptionTool/.vs/ConfigEncryptionTool
/IkeaDocuScanV3/ConfigEncryptionTool/obj
/IkeaDocuScanV3/ExcelReporting/bin
/IkeaDocuScanV3/ExcelReporting/obj
/IkeaDocuScanV3/IkeaDocuScan.ActionReminderService/bin
/IkeaDocuScanV3/IkeaDocuScan.ActionReminderService/obj
/IkeaDocuScanV3/IkeaDocuScan.Infrastructure/bin
/IkeaDocuScanV3/IkeaDocuScan.Infrastructure/obj
/IkeaDocuScanV3/IkeaDocuScan.Shared/bin
/IkeaDocuScanV3/IkeaDocuScan.Shared/obj
/IkeaDocuScanV3/IkeaDocuScanV3.AppHost/bin
/IkeaDocuScanV3/IkeaDocuScanV3.AppHost/obj
/IkeaDocuScanV3/IkeaDocuScanV3.ServiceDefaults/bin
/IkeaDocuScanV3/IkeaDocuScanV3.ServiceDefaults/obj
/IkeaDocuScanV3/IkeaDocuScan-Web/IkeaDocuScan-Web.Client/bin
/IkeaDocuScanV3/IkeaDocuScan-Web/IkeaDocuScan-Web.Client/obj
/IkeaDocuScanV3/IkeaDocuScan-Web/IkeaDocuScan-Web/bin
/IkeaDocuScanV3/IkeaDocuScan-Web/IkeaDocuScan-Web/obj
/.vs
